:root {
  --bg-color: #eeeeee;
  --theme-color: #fff;
  --main-color: #ef6172;
}

/* --------------- Menu --------------- */
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  background: transparent;
  z-index: 9999999;
}
.navbar .container {
  background: #fff;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.navbar.nav-scroll {
  padding: 0;
  position: fixed;
  top: -80px;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}
.navbar .logo {
  padding: 7px 15px;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  border-radius: 30px;
}
.navbar .info {
  margin-right: auto;
}
.navbar .info .item {
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 30px;
  color: #000;
}
.navbar .topnav .menu-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #1d1d1d;
  border-radius: 50%;
  color: #fff;
}
.navbar .topnav .butn {
  padding: 8px 20px;
  background: var(--main-color);
  color: #fff;
  margin-right: 15px;
}

.navbar .navbar-nav .nav-link {
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 14px;
  color: #000;
}

/* --------------- header --------------- */
.header-ds {
  background-size: cover;
  background-position: bottom;
  background-color: #fff;
  color: #000;
}
.header-ds .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 180px 0 80px;
  min-height: 800px;
}
.header-ds .text p {
  color: #000;
}
.header-ds .caption h1 {
  font-size: 96px;
  line-height: 96px;
  font-weight: 600;
  color: #000;
}
.header-ds .caption h1 span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  color: #ef6172;
}
.header-ds .social-icon a {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #000;
  background: #fff;
  border-radius: 50%;
  font-size: 16px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.header-ds .social-icon a:hover {
  color: #000;
  background: transparent;
  border: 1px solid #000;
}
.header-ds .numb {
  padding-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.header-ds .numb > div {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.header-ds .numb h2 {
  font-size: 96px;
  line-height: 96px;
  font-weight: 400;
  margin-bottom: 10px;
}
.header-ds .numb span {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* --------------- Clients --------------- */
.clients-sa {
  background-color: #fff;
}
.clients-sa .sub-head {
  color: #000;
}
.clients-sa .item {
  /* border: 1px solid #000; */
  border-radius: 50%;
  text-align: center;
}
.clients-sa .item .img {
  width: 100px;
}
.clients-sa .item .cont .icon {
  width: 40px;
  margin: 0 auto 10px;
}
