:root {
  --bg-color: #eeeeee;
  --theme-color: #fff;
  --main-color: #ef6172;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

/* --------------- Menu --------------- */
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  background: transparent;
  z-index: 9999999;
}
.navbar .container {
  background: #fff;
  border-radius: 0 0 15px 15px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.navbar.nav-scroll {
  padding: 0;
  position: fixed;
  top: -80px;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}
.navbar .logo {
  padding: 7px 15px;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  border-radius: 30px;
}
.navbar .info {
  margin-right: auto;
}
.navbar .info .item {
  font-size: 13px;
  text-transform: uppercase;
  margin-left: 30px;
  color: #000;
}
.navbar .topnav .menu-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #1d1d1d;
  border-radius: 50%;
  color: #fff;
}
.navbar .topnav .butn {
  padding: 8px 20px;
  background: var(--main-color);
  color: #fff;
  margin-right: 15px;
}

.navbar .navbar-nav .nav-link {
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 14px;
  color: #000;
}

/* --------------- header --------------- */
.header-ds {
  background-size: cover;
  background-position: bottom;
  background-color: #fff;
  color: #000;
}
.header-ds .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 180px 0 80px;
  min-height: 800px;
}
.header-ds .text p {
  color: #000;
}
.header-ds .caption h1 {
  font-size: 96px;
  line-height: 96px;
  font-weight: 600;
  color: #000;
}
.header-ds .caption h1 span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  color: #ef6172;
}
.header-ds .social-icon a {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #000;
  background: #fff;
  border-radius: 50%;
  font-size: 16px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.header-ds .social-icon a:hover {
  color: #000;
  background: transparent;
  border: 1px solid #000;
}
.header-ds .numb {
  padding-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.header-ds .numb > div {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.header-ds .numb h2 {
  font-size: 96px;
  line-height: 96px;
  font-weight: 400;
  margin-bottom: 10px;
}
.header-ds .numb span {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* --------------- Clients --------------- */
.clients-sa {
  background-color: #fff;
}
.clients-sa .sub-head {
  color: #000;
}
.clients-sa .item {
  /* border: 1px solid #000; */
  border-radius: 50%;
  text-align: center;
}
.clients-sa .item .img {
  width: 100px;
}
.clients-sa .item .cont .icon {
  width: 40px;
  margin: 0 auto 10px;
}
/* --------------- Service --------------- */
.services-cst {
  background-color: #fff;
  position: relative;
  z-index: 3;
}
.services-cst .sub-head:after {
  background: #aaa !important;
  color: #000;
}
.services-cst .img-patern {
  position: absolute;
  bottom: 10%;
  left: -15%;
  width: 30%;
  -webkit-filter: invert(1);
  filter: invert(1);
  opacity: 0.07;
  z-index: -1;
}
.services-cst .item {
  padding: 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
}
.services-cst .item > div {
  width: 100%;
}
.services-cst .item h6 {
  font-size: 18px;
  color: #000;
}
.services-cst .item .title {
  text-align: center;
  position: relative;
}
.services-cst .item .title h2 {
  font-size: 90px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: -4px;
  color: #000;
}
.services-cst .item .title .list {
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.services-cst .item .title .list span {
  padding: 7px 12px;
  background: var(--main-color);
  border-radius: 30px;
  position: absolute;
  font-size: 14px;
  color: var(--theme-color);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.services-cst .item .title .list span:nth-of-type(1) {
  top: 0;
  left: 15%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}
.services-cst .item .title .list span:nth-of-type(2) {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  color: #fff;
}
.services-cst .item .title .list span:nth-of-type(3) {
  bottom: 0;
  right: 15%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  color: #fff;
}
.services-cst .item .title .list span:nth-of-type(4) {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) translateX(50%);
  -ms-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  color: #fff;
}
.services-cst .item p {
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.services-cst .item .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.services-cst .item .icon .arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--main-color);
  overflow: hidden;
  opacity: 0;
}
.services-cst .item .icon .arrow img {
  width: 25px;
  -webkit-transform: translateX(-30px) translateY(30px);
  -ms-transform: translateX(-30px) translateY(30px);
  transform: translateX(-30px) translateY(30px);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.services-cst .item .icon img {
  width: 30px;
}
.services-cst .item:hover .title .list {
  opacity: 1;
}
.services-cst .item:hover .title .list span {
  opacity: 1;
}
.services-cst .item:hover .icon .arrow {
  opacity: 1;
}
.services-cst .item:hover .icon .arrow img {
  -webkit-transform: translateX(0) translateY(0);
  -ms-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
}

/* --------------- Services --------------- */
.services-dm {
  /* background-color: #fff; */
  position: relative;
  z-index: 3;
}
.services-dm .img-patern {
  position: absolute;
  bottom: 10%;
  left: -15%;
  width: 30%;
  -webkit-filter: invert(1);
  filter: invert(1);
  opacity: 0.07;
  z-index: -1;
}
.services-dm .item {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.services-dm .item:last-of-type {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.services-dm .item .title h2 {
  font-size: 100px;
  letter-spacing: -4px;
}
.services-dm .item p {
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.services-dm .item .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 150px;
}
.services-dm .item .icon img {
  width: 30px;
}
.services-dm .item:hover .title {
  margin-bottom: 0;
  color: var(--main-color);
}
.services-dm .item:hover p {
  opacity: 1;
}
/* --------------- Buttons --------------- */
.crv-butn span {
  background: #000;
  color: #fff;
}

.crv-butn .text {
  line-height: 40px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px;
  border-radius: 30px;
  position: relative;
}
.crv-butn .text:after {
  content: "";
  width: 30px;
  height: 30px;
  background: #000;
  position: absolute;
  top: 5px;
  right: -15px;
  z-index: -1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.crv-butn .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin-left: -10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.crv-butn .icon img {
  width: 15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.crv-butn:hover .text:after {
  border-radius: 50%;
  top: calc(50% - 5px);
  right: 0;
  height: 10px;
}

.crv-butn:hover .icon {
  margin-left: 5px;
}
.crv-butn:hover .icon img {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* --------------- Section --------------- */
.intro-iner {
  color: #000;
  position: relative;
}
.intro-iner h3 {
  font-size: 40px;
  letter-spacing: -2px;
}
.intro-iner .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 4;
  display: none;
}
.intro-iner .content .item {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.intro-iner .content .item span {
  font-size: 16px;
  padding: 8px 24px;
  background: var(--bg-color);
  border-radius: 30px;
}
.intro-iner .content .item span.bdark {
  background: #777;
  color: #fff;
}
.intro-iner .content .item span.bred {
  background: var(--main-color);
  color: var(--theme-color);
}
.intro-iner .content .item img {
  width: 50px;
}
.intro-iner .content .item .icon1 img {
  width: 70px;
}
.intro-iner .img-box {
  position: relative;
}
.intro-iner .img-box .states {
  position: absolute;
  bottom: 120px;
  left: -30px;
  background: var(--main-color);
  color: #fff;
  padding: 20px 20px;
  border-radius: 15px;
  z-index: 3;
}
.intro-iner .img-box .just-shape {
  background: var(--theme-color);
  border-radius: 0 0 30px 0;
  width: 200px;
  height: 50px;
  position: absolute;
  top: -1px;
  left: -1px;
}
.intro-iner .img-box .just-shape .shap-right-top {
  position: absolute;
  top: -1px;
  right: -2.05rem;
}
.intro-iner .img-box .just-shape .shap-right-top svg {
  width: 2.1rem;
  height: 2.1rem;
}
.intro-iner .img-box .just-shape .shap-left-bottom {
  position: absolute;
  bottom: -2.05rem;
  left: -1px;
}
.intro-iner .img-box .just-shape .shap-left-bottom svg {
  width: 2.1rem;
  height: 2.1rem;
}
.intro-iner .img-box .butn-vid {
  background: var(--theme-color);
  border-radius: 30px 0 0 0;
  padding: 40px 0 0 30px;
  position: absolute;
  bottom: -1px;
  right: -1px;
}
.intro-iner .img-box .butn-vid .vid {
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: #212121;
  position: relative;
}
.intro-iner .img-box .butn-vid .vid:after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.intro-iner .img-box .butn-vid .cont {
  padding-left: 20px;
}
.intro-iner .img-box .butn-vid .shap-right-top {
  position: absolute;
  right: 0;
  top: -2.05rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.intro-iner .img-box .butn-vid .shap-right-top svg {
  width: 2.1rem;
  height: 2.1rem;
}
.intro-iner .img-box .butn-vid .shap-left-bottom {
  position: absolute;
  left: -2.05rem;
  bottom: -1px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.intro-iner .img-box .butn-vid .shap-left-bottom svg {
  width: 2.1rem;
  height: 2.1rem;
}
.intro-iner .img {
  height: 580px;
  border-radius: 15px;
}
.intro-iner .sec-head {
  padding-top: 40px;
}
.intro-iner .accordion-item {
  background: transparent;
  border-radius: 10px;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0;
  margin-bottom: 5px;
}
.intro-iner .accordion-item .accordion-header {
  background: transparent;
}
.intro-iner .accordion-item .accordion-header button {
  background: transparent;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  padding: 30px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.intro-iner .accordion-item .accordion-header button:after {
  background-image: url(./hubfolio_HTML/inner_pages/assets/imgs/plus-solid.svg);
  -webkit-filter: invert(1);
  filter: invert(1);
}
.intro-iner .accordion-item .accordion-header button:not(.collapsed):after {
  background-image: url(./hubfolio_HTML/inner_pages/assets/imgs/minus-solid.svg);
}
.intro-iner .accordion-item .accordion-body {
  padding: 0;
  padding: 0px 100px 30px 0;
}
.intro-iner .accordion-item .accordion-body p {
  font-size: 14px;
}
/* --------------- Services --------------- */
.intro-crv .sec-head h3 {
  text-indent: 20%;
}
.intro-crv .sec-head h6 {
  color: #ef6172;
}

.intro-crv .sec-head .img-shape {
  width: 300px;
  margin-top: 30px;
}

.intro-crv .exp {
  position: relative;
}
.intro-crv .exp h2 {
  font-size: 35vw;
  line-height: 1;
  margin-bottom: -100px;
}
.intro-crv .exp .exp-item {
  font-size: 16px;
  padding: 8px 24px;
  background: #f0ebeb;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: absolute;
  top: 30px;
  left: 40px;
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.intro-crv .exp .exp-item.hapy {
  top: auto;
  bottom: 30px;
  left: 30px;
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}
.intro-crv .exp .exp-item.proj {
  top: 50%;
  right: 20%;
  left: auto;
  -webkit-transform: translateX(50%) translateY(-50%) rotate(5deg);
  -ms-transform: translateX(50%) translateY(-50%) rotate(5deg);
  transform: translateX(50%) translateY(-50%) rotate(5deg);
}

.intro-crv .skills-box h6 {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.intro-crv .skills-box .skill-item {
  position: relative;
  margin-top: -10px;
}
.intro-crv .skills-box .skill-item:first-of-type {
  margin-top: 0;
}
.intro-crv .skills-box .skill-item h6 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 3;
}

.intro-crv .skills-box .skill-progress {
  height: 75px;
  position: relative;
}
.intro-crv .skills-box .skill-progress .progres {
  position: absolute;
  height: 100%;
  width: 30%;
  top: 0;
  left: 0;
  border-radius: 5px;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}
.intro-crv .skills-box .skill-progress .progres:after {
  content: attr(data-value);
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 12px;
  font-weight: 600;
}
.intro-crv .skills-box .skill-progress .progres.gray {
  background: #f0ebeb;
}
.intro-crv .skills-box .skill-progress .progres.dark {
  background: #000;
}
.intro-crv .skills-box .skill-progress .progres.color {
  background: #f0ebeb;
}
/* --------------- Services --------------- */
.marq-mp .main-marq {
  overflow: hidden;
  padding: 25px 0;
}

.marq-mp .color-bg {
  background: #eee;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  margin-top: -30px;
}

.marq-mp .gray-bg {
  background: #eee;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  position: relative;
  z-index: 4;
}

.marq-mp .item {
  padding: 0 60px !important;
  position: relative;
}
.marq-mp .item:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.marq-mp .item h5 {
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}

/* --------------- footer --------------- */
.footer-ds {
  background-color: #000;
  border-color: rgba(255, 255, 255, 0.3) !;
}
.footer-ds .subscribe h6 {
  color: #fff;
}
.footer-ds .subscribe .form-group {
  margin: 60px 0 15px;
  position: relative;
}
.footer-ds .subscribe .form-group label {
  font-size: 14px;
  margin-bottom: 10px;
}
.footer-ds .subscribe .form-group input {
  padding: 20px 50px 20px 20px;
  background: var(--bg-color);
  border: 0;
  border-radius: 5px;
  width: 100%;
  color: #fff;
}
.footer-ds .subscribe .form-group button {
  background: transparent;
  border: 0;
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 25px;
}
.footer-ds .subscribe span {
  color: #808080;
  font-size: 13px;
}
.footer-ds .subscribe span a {
  color: #fff;
  text-decoration: underline;
}
.footer-ds .contact-info .item h6 {
  margin-bottom: 15px;
  color: #fff;
}
.footer-ds .contact-info .item p {
  font-size: 14px;
  margin-top: 5px;
  color: #fff;
}
.footer-ds .sub-footer .copy .logo {
  width: 25px;
}
.footer-ds .sub-footer .copy p {
  color: #fff;
  font-size: 14px;
}
.footer-ds .sub-footer .copy p a {
  color: #fff;
}
.footer-ds .sub-footer .links {
  width: 100%;
}
.footer-ds .sub-footer .links a {
  color: #fff;
  font-size: 14px;
}
.footer-ds .sub-footer .links .active {
  color: #fff;
}

/* ====================== [ Start Responsive ] ====================== */
@media screen and (max-width: 992px) {
  .header-ds .caption {
    text-align: center;
  }
  .header-ds .text {
    text-align: center;
  }
  .header-ds .text p {
    width: 80%;
    margin: auto;
  }
  .services-ds .item .title h2 {
    font-size: 80px;
    line-height: 1.2;
  }
  .pricing-ds .sec-head .d-flex {
    display: block !important;
  }
  .pricing-ds .sec-head .d-flex .ml-auto {
    margin-top: 30px;
  }
  .pricing-ds .content .price-foot .price-foot-item .butn span:first-of-type {
    display: block !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .sec-head {
    display: block !important;
  }
  .sec-head h2 {
    font-size: 40px;
    line-height: 1.2;
  }
  .sec-head .butn {
    margin-top: 15px;
  }
  .header-ds .caption h1,
  .header-ds .numb h2 {
    font-size: 60px;
    line-height: 1.2;
  }
  .header-ds .numb {
    display: block !important;
  }
  .header-ds .numb > div {
    display: block;
    width: 100%;
  }
  .header-ds .numb .ml-auto {
    margin: 30px 0 0 0 !important;
  }
  .header-ds .numb span br {
    display: none;
  }
  .services-cst .item .title h2 {
    font-size: 30px;
    letter-spacing: -1px;
  }
  .services-cst .item .title .list {
    display: none;
  }
  .services-cst .item .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .services-cst .item .icon img {
    width: 25px;
  }
  .intro-crv .exp h2 {
    margin-bottom: 0;
    font-size: 40vw;
  }
}
@media screen and (max-width: 768px) {
  .intro-crv .exp h2 {
    font-size: 70vw;
  }
}
