/* --------------- Clients --------------- */
.clients-sa .item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  text-align: center; }
  .clients-sa .item .img {
    width: 100px; }
  .clients-sa .item .cont .icon {
    width: 40px;
    margin: 0 auto 10px; }
  .clients-sa .item .cont span {
    font-size: 14px;
    line-height: 20px; }
